/* Propriedades mobile */
.publicar:hover {
    color     : #0095F6;
    transition: 300ms;
}

input:focus {
    outline: none;
}

@media (max-width: 935px) {
    .menu {
        display: none !important;
    }

    .menusqn {
        display: none !important;
    }
}

@media (max-width:614px) {

    .barra-mobile {
        display: flex !important;
    }

    .header {
        display        : flex !important;
        width          : 100% !important;
        justify-content: space-between !important;
    }

    .atalhos {
        width       : 18px !important;
        margin-right: 18px;
    }

    .logo {
        margin-left: 21px;
    }

    .logo-g {
        display: none;
    }

    .logo-mobile {
        display: initial !important;
    }

    .b-vertical-header {
        display: none !important;
    }

    .pesquisa {
        display: none !important;
    }

    .compass {
        display: none !important;
    }

    .heart {
        display: none !important;
    }

    .person {
        display: none !important;
    }

    .menu {
        display: none !important;
    }

    .corpo {
        width          : 100% !important;
        margin-top     : 0px !important;
        justify-content: flex-start !important;
        align-items    : flex-start !important;
        box-sizing     : border-box !important;
    }

    .story {
        width           : 96.7vw !important;
        justify-content : flex-start !important;
        background-color: #E5E5E5 !important;
    }

    .setinha {
        display: none !important;
    }

    .feed {
        box-sizing: border-box;
        width     : 96.7vw !important;
        height    : 100vw !important;
        margin-top: 0px !important;
    }

    .feed1>img {
        height: 100%;
        width : 100%;
    }
}

/* barra mobile */
.barra-mobile {
    display        : none;
    justify-content: space-between;
    align-items    : center;
    position       : fixed;
    bottom         : 0;
    left           : 0;
    width          : 100%;
    height         : 54px;
    background     : #FFFFFF;
    border         : 1px solid #DBDBDB;

}

.barra-mobile svg {
    height: 17px;
    margin: 0 20px;
}

/*  */
/* fonte */

.logo-mobile {
    display: none;
    height : 22px;
}

head,
body {
    font-family: "Roboto";
}

strong {
    font-weight: bold;
}

/* Header */

.header {
    box-sizing      : border-box;
    display         : flex;
    justify-content : space-around;
    height          : 54px;
    width           : 100%;
    align-items     : center;
    background-color: #FFFFFF;
    border          : 1px solid #DBDBDB;
}

/* logo */
.logo {
    display: flex;
}

.logo-p {
    height: 22px;
}

.logo-g {
    height: 29px;
}

.b-vertical-header {
    width           : 1px;
    height          : 22px;
    margin-left     : 10px;
    margin-right    : 10px;
    background-color: #DBDBDB;
}

/* Fim-logo */
/* Pesquisa */
.pesquisa {
    box-sizing     : border-box;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 215px;
    height         : 28px;
    border         : 1px solid #DBDBDB;
    border-radius  : 3px;
}

.pesquisa p {
    color      : #979797;
    font-style : normal;
    font-weight: normal;
    font-size  : 12px;
    line-height: 14px;
}

/* fim pesquisa */
/* atalhos */
.atalhos {
    display        : flex;
    justify-content: space-between;
    width          : 148px;
}

.atalhos img {
    height: 18px;
}

/* Fim-Header*/

/* Body */

body {
    background-color: #E5E5E5;
    display         : flex;
    flex-direction  : column;
}

.corpo {
    display        : flex;
    justify-content: center;
    margin-top     : 34px;
}

.content {
    display       : flex;
    flex-direction: column;
    flex-shrink   : 0;
    position      : relative;

}

/* storys */
.caixaStory {
    display        : flex;
    flex-shrink    : 0;
    box-sizing     : border-box;
    width          : 80px;
    position       : relative;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.caixaStory p {
    font-family: Roboto;
    font-style : normal;
    font-weight: 400;
    font-size  : 12px;
    line-height: 14px;
    margin-top : 1px;
    color      : #262626;
}

.story {
    display         : flex;
    align-items     : center;
    box-sizing      : border-box;
    overflow        : hidden;
    padding         : 10px;
    height          : 118px;
    width           : 614px;
    background-color: #FFFFFF;
    border          : 1px solid #DBDBDB;
    border-radius   : 3px;
}

.perfil {
    display    : flex;
    flex-shrink: 0;
    position   : relative;
    height     : 66px;
    width      : 66px;
}

.setinha {
    position: absolute;
    right   : 8px;
    top     : 46px;
    height  : 26px;
    width   : 26px;
    z-index : 10;
    fill    : #FFFFFF;
    filter  : drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
}

.borda {
    position: absolute;
    width   : 100%;
    height  : auto;
}

.fotinho {
    position: absolute;
    left    : 7.5%;
    top     : 8%;
    width   : 85%;
}

/* menu so que nao */
.menusqn {
    display    : flex;
    flex-shrink: 0;
    box-sizing : border-box;
    width      : 292px;
    height     : 500px;
    margin-left: 28px;
}

/* menu direito */
.menu {
    position      : fixed;
    top           : 13.6vh;
    right         : 14vw;
    display       : flex;
    flex-direction: column;
    flex-shrink   : 0;
    width         : 292px;
    height        : 500px;
    margin-left   : 28px;
}

/* foto e nome do usuário */
.user {
    display    : flex;
    align-items: center;
    width      : 292px;
    height     : 100px;
}

.imagem-perfil {
    width : 56px;
    height: 56px;
}

.nome {
    margin-left: 17px;
    width      : 100px;
    height     : 40px;
}

.perfil-id {
    font-style : normal;
    font-weight: 500;
    font-size  : 14px;
    line-height: 16px;
    align-items: center;
    color      : #262626;
}

.nome-perfil {
    font-style : normal;
    font-weight: 300;
    font-size  : 14px;
    line-height: 16px;
    align-items: center;
    color      : #8E8E8E;
}

/* fim */

/* sugestões e mais */

.suggestName {
    display        : flex;
    justify-content: space-between;
}

.suggestName h1 {
    font-weight: 500;
    font-size  : 12px;
    line-height: 14px;
    color      : #8E8E8E
}

.suggestName h2 {
    font-style : normal;
    font-weight: 500;
    font-size  : 12px;
    line-height: 14px;
    color      : #262626;
}

.suggest1 {
    display: flex;
}

.suggestblock {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin         : 16px 0;
}

.suggestblock p {
    font-family: Roboto;
    font-weight: 500;
    font-size  : 12px;
    line-height: 14px;
    color      : #139EF2;

}

.suggest1Nome {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    margin-left    : 11px;
}

.suggest1Nome h1 {
    font-family: Roboto;
    font-style : normal;
    font-weight: 500;
    font-size  : 14px;
    line-height: 16px;
    color      : #262626;
}

.suggest1Nome h2 {
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 12px;
    line-height: 14px;
    color      : #8E8E8E;
}

/* fim */

.about {
    margin-top : 33px;
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 11px;
    line-height: 13px;
    color      : #C7C7C7
}

.corporation {
    margin-top : 18px;
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 11px;
    line-height: 13px;
    color      : #C7C7C7;

}

/* Feed */
/* Primeiro */
.feed {
    margin-top: 24px;
}

.dots {
    Height      : 16px;
    width       : 16px;
    fill        : #262626;
    margin-right: 17px;
}

.feedHeader {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    height          : 61px;
    width           : 100%;
    background-color: #FFFFFF;
}

.feedPerfil {
    display    : flex;
    align-items: center;
    margin-left: 17px;
}

.feedPerfil img {
    height      : 32px;
    width       : 32px;
    margin-right: 15px;
}

.feed1>img {
    display   : flex;
    max-height: 612px;
    max-width : 612px;
}

.feed1 {
    border       : 1px solid #DBDBDB;
    box-sizing   : border-box;
    border-radius: 3px;
    margin-bottom: 60px;
}

.interacao {
    display         : flex;
    justify-content : space-between;
    align-items     : flex-end;
    height          : 38px;
    width           : 100%;
    background-color: #FFFFFF;
}

.iconesInter {
    box-sizing: border-box;
    display   : flex;
}

.iconesInterSvg {
    width : AUTO;
    height: 22px;
    margin: 0px 18px;
}

.curtidas {
    display         : flex;
    align-items     : center;
    height          : 38px;
    background-color: #FFFFFF;
}

.curtidas img {
    height     : 20px;
    width      : 20px;
    margin-left: 18px;
}

.curtidas p {
    margin-left: 5px;
}

.feedContent {
    width: 100%px;
}

.biribinha {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-color: #FFFFFF;
}

.tiringa {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-color: #FFFFFF;
    height: 30px;
}

.biribinha h1 {
    margin-left: 18px;
}

.biribinha h2 {
    margin-left: 10px;
}

.tiringa h1 {
    margin-left: 18px;
}

.tiringa h2 {
    margin-left  : 10px;
}

.comentarios {
    height          : 27px;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-end;
    align-items     : flex-start;
    background-color: #FFFFFF;
}

.comentarios p {
    margin-left  : 18px;
    margin-bottom: 6px;
    font-size    : 14px;
    line-height  : 14px;
    color: #8E8E8E;
}

.curtir {
    height      : 16px;
    margin-right: 18px;
}

.coment {
    display: flex;
}

.comentar {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    height          : 38px;
    width           : 100%;
    border          : 1px solid #DBDBDB;
    border-radius   : 3px;
    background-color: #FFFFFF;
}

.smile {
    height: 22px;
}

.comentUser {
    margin-left    : 18px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.comentar p {
    margin-right: 18px;
    color       : #B2DFFC;
}

input {
    border     : 0;
    margin-left: 10px;
}